<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<form method="post" action="../controller/logCheck.php">
		<fieldset>
			<legend><b>Login</b></legend>
			<table>
				<tr>
					<td>User Id</td>
					<tr>
					<td><input type="text" name="id" value=""> </td>
				</tr>
				<tr>
					<td>Password</td>
					<tr>
					<td><input type="password" name="password" value=""> </td>
				</tr>
				<tr>
					<td>
						<hr>
						<input type="submit" name="submit" value="Login"> 
						<a href="registration.php">Register</a>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>